		<section class="about">
		<h3>Directorio de profesionales de CachiruloValley</h3>

		<img style="width:150px;float:left;margin:0px 15px 5px 0px" src="/images/iphone.png" />
		<p>El directorio de CachiruloValley pretende aglutinar a <strong>los diferentes profesionales que actúan en Aragón</strong>, 
		aunque damos la bienvenida al resto.</p>

		<p>Surge de la pregunta de: <strong>¿conoces a alguien por aquí cerca que sepa de ...?</strong> </p>	
		<p>
		El directorio será a partir de ahora una ayuda extra para buscar ese perfil que te falta.
		</p>
		
		<p>
		Entra, <strong>busca por categorías, o por la especialidad que te interese.</strong>
		Ordena según el <strong>número de recomendaciones</strong> y echa un vistazo a su timeline más reciente en twitter, 
		o a al número de watchers que tienen sus proyectos en GitHub. Todo rápidamente desde el directorio.
		</p>
		
		<p>
		¿Está <strong>dado de alta como autónomo</strong>? ¿Está <strong>interesado en montar una empresa</strong>? 
		Quizá pueda ser el socio que necesitas para el nuevo proyecto que estás lanzando.
		</p>
		
		<p>Todo en un interfaz rápido, para que encuentres lo que te interesa... sin perder tiempo.</p>

		<br style="clear:both">

		<h3>Como funciona el sistema de recomendaciones</h3>
		<img style="float:left;margin:15px 25px 15px 5px" src="/images/recomendacion_ejemplo.png" />
		<p>Recomendar es muy sencillo.</p>
		<p>Primero es necesario que te <strong>registres</strong> (cuesta 2 minutos y sólamente necesitas tu cuenta de linkedin) y ya puedes recomendar a cualquier perfil de la red mediante un sólo click. 
		</p>

		<p>
		Las <strong>recomendaciones son anónimas</strong> (no se publica quién recomienda a quién), pero el sistema garantiza que son fiables (sólamente se puede recomendar una vez a un mismo usuario).
		</p>
		<br style="clear:both">


		<h3>Código open source</h3>
		<img style="float:left;width:300px;margin:15px 25px 15px 5px" src="/images/source_github.png" />
		<p>El <strong>código fuente</strong> de la aplicación utilizada para el directorio ha sido <strong>liberado por el equipo de CachiruloValley</strong>. 
		</p>
		<p>
		¡Descárgalo y úsalo para lo que quieras!</p>
		</p>
		<a href="https://github.com/iloire/cachirulovalleydirectory" target="_blank" class="btn primary">¡Haz un fork en Github y modifícalo!</a>

		</section>
