<div class="row">
	<div class="span8">
		<div class="random_professionals">
		<% for (i=0;i<users.length;i++){%>
			<a title="<%=users[i].name%>" href="/user/<%=users[i].id%>/<%=users[i].name%>">
			<img src="<%=users[i].image%>" alt="">
			</a>
		<%}%>
			<p><a href="/editprofile" class="btn large">¡Regístrate!</a></p>
			<p>
				Lleva 1 minuto, y sólo necesitas una cuenta en linkedin.
			</p>
		</div>
	</div>
	<div class="span7 intro offset1">
		<img class="logo" src="/images/logo.jpg" alt="Cachirulo Valley - Directorio">
		<h3>Directorio de Cachirulo Valley</h3>
		<ul>
			<li>Busca <strong>perfiles complementarios</strong> en Aragón o fuera</li>
			<li>Busca profesionales de perfil emprendedor que están en este momento queriendo montar una empresa</li>
			<li>Encuentra <strong>freelancers</strong></li>
		</ul>	
		<!--
		<p>	
			<a id="btoEnter" href="/directory" class="btn large primary">Entrar al directorio</a>
		</p>
		-->
		<div class="searching_professionals">
		<p>Buscas profesionales...</p>
		<ul>
			<li><a href="/directory#/categories/1/Programadores">programadores</a></li>
			<li><a href="/directory#/categories/2/Diseñadores">diseñadores</a></li>
			<li><a href="/directory#/categories/3/SEO">SEO</a></li>
			<li><a href="/directory#/categories/4/Marketing">marketing</a></li>
			<li><a href="/directory#/categories/5/Sistemas">sistemas</a></li>
			<li><a href="/directory#/categories/6/UX">experiencia de usuario</a></li>
			<li><a href="/directory#/categories/7/Negocio">de desarrollo de negocio</a></li>
		</ul>
		</div>
		
		<!--
		<div class="iphone row">
			<span class="span2">
			<img src="/images/iphone.png" style="max-width:80px">
			</span>
			<span class="span3">
			<p>Próximamente en tu iPhone</p>
			</span>
		</div>
		-->
	</div>
</div>
