<div class="row">
	<img class="logo" src="/images/logo.jpg" alt="Cachirulo Valley - Directorio">
</div>
<div class="row">
	<div class="span8">
		<div class="random_professionals">
		<% for (i=0;i<users.length;i++){%>
			<img src="<%=users[i].image%>" alt="">
		<%}%>
			<p>
				Darte de alta sólo lleva 5 minutos, y únicamente necesitas una cuenta en linkedin.
			</p>
			<p><a href="/editprofile" class="btn large">Registrarse o editar perfil</a></p>
		</div>
	</div>
	<div class="span7 intro offset1">
		<h3>Directorio de Cachirulo Valley</h3>
		<ul>
			<li>Busca <strong>perfiles complementarios</strong> en Aragón o fuera</li>
			<li>Busca profesionales de perfil emprendedor que están en este momento queriendo montar una empresa</li>
			<li>Encuentra <strong>freelancers</strong></li>
		</ul>	
		<p>	
			<a href="/directory" class="btn large primary">Entrar al directorio</a>
		</p>
	</div>
</div>
<div class="row">
	<div class="span6">
		<h3>Últimas incorporaciones</h3>
		<ul>
			<li>asdf</li>
			<li>asdf</li>
			<li>asdf</li>
		</ul>
	</div>
	<div class="span5">
		<h3>Categorías  etc..</h3>
		<ul>
			<li>asdf</li>
			<li>asdf</li>
			<li>asdf</li>
		</ul>
	</div>

	<div class="span5">
		<h3>También para iPhone</h3>
		<img src="https://github.com/iloire/CachiruloValley-iOS/raw/master/screenshots/directorio.png" style="max-width:100px">
		<p>bla bla bla</p>
	</div>
</div>