<div class="row">
	<img class="logo" src="/images/logo.jpg" alt="Cachirulo Valley - Directorio">
</div>
<div class="row">
	<div class="span8">
		<div class="random_professionals">
		<% for (i=0;i<users.length;i++){%>
			<a title="<%=users[i].name%>" href="/user/<%=users[i].id%>/<%=users[i].name%>">
			<img src="<%=users[i].image%>" alt="">
			</a>
		<%}%>
			<p>
				Darte de alta sólo lleva 5 minutos, y únicamente necesitas una cuenta en linkedin.
			</p>
			<p><a href="/editprofile" class="btn large">Registrarse o editar perfil</a></p>
		</div>
	</div>
	<div class="span7 intro offset1">
		<h3>Directorio de Cachirulo Valley</h3>
		<ul>
			<li>Busca <strong>perfiles complementarios</strong> en Aragón o fuera</li>
			<li>Busca profesionales de perfil emprendedor que están en este momento queriendo montar una empresa</li>
			<li>Encuentra <strong>freelancers</strong></li>
		</ul>	
		<p>	
			<a id="btoEnter" href="/directory" class="btn large primary">Entrar al directorio</a>
		</p>
		<div class="iphone row">
			<span class="span2">
			<img src="/images/iphone.png" style="max-width:80px">
			</span>
			<span class="span3">
			<p>Próximamente en tu iPhone</p>
			</span>
		</div>
	</div>
</div>
