<div class=row>
	<h1>Directorio, logo, etc</h1>
</div>
<div class=row>
	<div class="span8">
		<h3>Presentación</h3>
		<img class="logo" src="/images/logo.jpg" alt="Cachirulo Valley">
		<p>Hola, ya sabes quienes somos y lo que hacemos (si no lo sabes, accede a la <a href="http://cachirulovalley.com" target="_blank">página principal de CachiruloValley</a>, así que
		no te habrá sorprendido que hayamos creado un directorio de profesionales.
		</p>

		<h3>A quién va orientado</h3>
		<p>
			Ya que nuestro ámbito de actuación es local (Aragón), este directorio está orientado a empresas y profesionales con vínculo con Aragón.
		</p>
	</div>
	<div class="span8">
		<h3>Qué pretendemos</h3>
		<p>Sabemos que existen muchos directorios de profesionales, pero queríamos 
			hacer uno con nuestra filosofía, para poder daros la oportunidad de: 
		<ul>
			<li>Buscar <strong>perfiles complementarios</strong> en vuestra región</li>
			<li>Buscar profesionales de perfil emprendedor que están en este momento queriendo montar una empresa</li>
			<li>Encontrar <strong>freelancers</strong></li>
			<li>Encontrar empresas que necesitan freelancers</li>
		</ul>	
		</p>
		<p>
			Darte de alta sólo lleva 5 minutos, y únicamente necesitas una cuenta en linkedin.
		</p>
		<p>	
			<a href="/editprofile" class="btn large">Registrarse o editar perfil</a>
			<a href="/directory" class="btn large">Buscar profesionales</a>
		</p>
	</div>
</div>
<div class="row">
	<div class="span6">
		<h3>Últimas incorporaciones</h3>
		<ul>
			<li>asdf</li>
			<li>asdf</li>
			<li>asdf</li>
		</ul>
	</div>
	<div class="span5">
		<h3>Categorías  etc..</h3>
		<ul>
			<li>asdf</li>
			<li>asdf</li>
			<li>asdf</li>
		</ul>
	</div>

	<div class="span5">
		<h3>otro....</h3>
		<ul>
			<li>asdf</li>
			<li>asdf</li>
			<li>asdf</li>
		</ul>
	</div>
</div>