<div class="row">
	<div class="span3" id="left_column">
		<h3>Categorías</h3>
		<ul id="categories" data-bind='template: {name:"catsTemplate", foreach: cats}'></ul>
		<br style="clear:both">
		<h3>Filtros</h3>
		<div class="filterBox">
			<div class="region_scope">
				<input type="radio" name="region_scope" id="regional_scope"> 
				<label onclick="$('#regional_scope').click()" rel="popover" title="Profesionales aragoneses" data-content="Seleccionando esta opción sólamente se mostrarán profesionales que se hayan registrado como aragoneses" for="regional_scope">Aragón</label>
			 	
				<br />
				<input type="radio" name="region_scope" id="national_scope" >
				<label onclick="$('#national_scope').click()" rel="popover" title="Profesionales residentes en España" data-content="Seleccionando esta opción sólamente se mostrarán profesionales que se hayan registrado como residentes en España" for="national_scope">España</label>
				<br />
				<input type="radio" name="region_scope" id="worldwide_scope" checked="checked"> 
				<label onclick="$('#worldwide_scope').click()" rel="popover" title="Todos" data-content="Seleccionando esta opción se mostrarán todos los profesionales" for="worldwide_scope">Todos</label>
			</div>
			<div class="otherdata_scope">
				<input type="checkbox" name="freelance" id="freelance_scope" value="freelance"> 
				<label onclick="$('#freelance_scope').click()" rel="popover" title="Autónomos" data-content="Seleccionando esta opción se mostrarán los profesionales registrados como 'áutonomos'" for="freelance_scope">Autónomos</label>
				<br />
				<input type="checkbox" name="entrepreneur" id="entrepreneur_scope" value="freelance"> 
				<label onclick="$('#entrepreneur_scope').click()" rel="popover" title="Emprendedores" data-content="Seleccionando esta opción se mostrarán los profesionales que hayan seleccionado en su perfil que tienen interés en crear una empresa en el corto o medio plazo" for="entrepreneur_scope">Emprendedores</label>
			</div>
		</div>
				
		<h4>Iniciativa:</h4>
		<a href="http://www.cachirulovalley.com">
			<img class="logo" src="/images/logo.jpg" alt="Cachirulo Valley">
		</a>
	</div>
	
	<div class="span10">
		<div data-bind='template: {name:"filterTemplate", foreach: filter}'></div>
		<div class="sortingOptions" style="display:none">
			<span>Ordenado por:</span>
			<select id="sortingSelect">
				<option value="votes_">Recomendaciones</option>
				<option value="name">Alfabético A..Z</option>
				<option value="name_">Alfabético Z..A</option>
			</select>
		</div>

		<div class="professionals_list">
			<div id="pagination"></div>
			<ul id="professionals" data-bind='template: {name:"profileTemplate", foreach: professionals}'></ul>
		</div>
	</div>

	<div class="tags span3" id="right_column">
		<h3>Especialidades</h3>
		<ul id="tags" data-bind='template: {name:"tagsTemplate", foreach: tagslist}'>
		</ul>
	</div>
</div>

<!--templates-->
<script id='tagsTemplate' type="text/x-jquery-tmpl">
    <li><a tag="${name}" rel="address:/tags/${safe_name}" href="#/tag/${safe_name}/users">${name}</a> <span>${counter}</span></li>
</script>

<script id='catsTemplate' type="text/x-jquery-tmpl">
    <li><a idcat="${id}" rel="address:/categories/${id}/${name}" href="#/categories/${id}/${name}">${name}</a><span>${users_count}</span></li>
</script>

<script id='filterTemplate' type="text/x-jquery-tmpl">
<span class="filteritem ${type}">
	<span class="name">${name}</span>
	{{if (value)}}
		<span class="value">${value}</span>
	{{/if}}
</span>
</script>

<script id='profileTemplate' type="text/x-jquery-tmpl">
 <li id="profile${id}" class="{{if (expanded)}}expanded{{/if}}">
	<span class="beerBox">
		{{if (votes)}}
			<span class="beer" rel="popover" title="${votes} recomendaciones" 
			data-placement="right" 
			data-content="&lt;img class=beer_popup src=/images/beer-badget.png /&gt;${name} tiene &lt;strong&gt;${votes} recomendaciones.&lt;/strong&gt; &lt;br/&gt;&lt;br/&gt;Si entras con tu usuario, puedes recomendar perfiles, de manera anónima">
				<span>
				${votes}
				</span>
				<img class="beer" src="/images/beer-badget.png" />
			</span>
		{{/if}}
	</span>

	{{if expanded}}
		<h2>${name}</h2>
	{{else}}
		<a rel="address:/user/${id}/${encodeURIComponent(name())}" class="viewprofile" idProfile="${id}" href="#/user/${id}/${name}">${name}</a>	
	{{/if}}

	<img class="avatar" src="${image}"/>
	<span class="bio">${bio}</span>
	<br />
	<span class="location">
	${location}  (${region_display})
	</span>

	<span class="voteBox" data-bind='visible: (($parent.logged_user()!=null) && ($parent.logged_user().id != $data.id()))'>
		{{if (true)}}
			{{if (voted)}}
				<a class="vote down" href="/vote" vote="-1" idProfile="${id}">+ dejar de recomendar</a>
			{{else}}
				<a class="vote up" href="/vote" vote="1" idProfile="${id}">- recomendar</a>
			{{/if}}
		{{/if}}
		
		<!--
		{{if (favorite)}}
			<a class="fav down" href="/favorite" fav="-1" idProfile="${id}">
			es tu favorito
			<img class="star" alt="Eliminar de mis favoritos" src="/images/favorite_star.gif" />
			</a>
		{{else}}
			<a class="fav up" href="/favorite" fav="1" idProfile="${id}">
				hacer tu favorito
				<img class="star" alt="Añadir a mis favoritos" src="/images/favorite_star_empty.png" />
			</a>
		{{/if}}
		-->
	</span>

	<span class="voteBox" data-bind='visible: $parent.logged_user()==null'>
		<small class="expanded">
		 	<a href="/login" class="login" rel="popover" title="Regístrate o inicia sesión" 
			data-placement="left" 
			data-content="Es necesario registrarse para poder votar. <br />Puedes votar a los profesionales que recomiendas. Los votos son anónimos. Simplemente se publica el número de los mismos">regístrate para votar</a>
		</small>
	</span>

	
	<div class="user_tags">
	<span>tags:</span>
	{{if tags()}}
		 {{each tags()}}
			{{if $value}}
			<a tag="${$value}" rel="address:/tags/${encodeURIComponent($value)}" href="#/tags/${encodeURIComponent($value)}">${$value}</a>
		 	{{/if}}
		 {{/each}}
	{{/if}}
	</div>

	<div class="clearfix"></div>
	<div class="more">
		{{if ((linkedin_profile_url()) || (web()))}}
			<h3>Información de contacto</h3>
			<ul>
			{{if (linkedin_profile_url)}}
			<li><a  target="_blank" href="${linkedin_profile_url}">visita mi perfil en linkedin</a></li>
			{{/if}}
			{{if (web)}}
			<li><a target="_blank" href="${web}">${web}</a></li>
			{{/if}}	
			</ul>
		{{/if}}


		{{if (other_data!=null) }}
		<h3>Más cosicas sobre mí</h3>
		<div>
		   <ul>
		   {{if other_data.entrepreneur}}
			 <li>Me considero emprendedor. Estoy interesado en crear empresas a corto plazo.
			   {{if other_data.vc_partner}}
				 Me interesaría participar como socio capitalista.
			   {{/if}}
			   {{if other_data.tech_partner}}
				 Me interesaría participar como socio técnico.
			   {{/if}}
			   {{if other_data.business_partner}}
				 Me interesaría participar como socio especialista en negocio.
			   {{/if}}
			</li>
		   {{/if}}

		   {{if other_data.freelance}}
			 <li>Soy un profesional dado de alta como autónomo.</li>
		   {{/if}}

		   {{if other_data.looking_for_contracts}}
			 <li>Busco proyectos como freelance</li>
		   {{/if}}
			</ul>
		</div>
		{{/if}}

		{{if (portfolio!=null)}}
			<div class="portfolio">
			<h3>Portfolio</h3>
			<ul>
			 {{each portfolio}}
				{{if $value.url}}
				<li><a target="_blank" title="${$value.descr}" href="${$value.url}">${$value.url} </a></li>
			 	{{/if}}
			 {{/each}}
			</ul>
			<span class="descr"></span>
			</div>
		{{/if}}

		{{if twitter}}
		<h3>Últimos tweets: <small><a target="_blank" href="http://www.twitter.com/${twitter}">@${twitter}</a></small></h3>
		<div class="tw_timeline"></div>
		{{/if}}

		{{if github}}
		<h3>Github: <small><a target="_blank" href="https://github.com/${github}">${github}</a></small></h3>
		<p>El primer número indica el número de "watchers". El segundo el número de "forks"</p>
		<div class="github_projects"></div>
		{{/if}}	
	</div>
</li>
</script>
