<!DOCTYPE html>
<html>
  <head>
	<title><%= title %></title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.tagsinput.css" />
		
	<script src="/javascripts/jquery-1.6.4.min.js" type="text/javascript"></script>
	<script src="/javascripts/jquery.tmpl.min.js" type="text/javascript"></script>
	<script src="/javascripts/knockout-1.2.1.js" type="text/javascript"></script>
	<script src="/javascripts/directory.js" type="text/javascript"></script>
	<script src="/javascripts/jquery.tagsinput.js"></script>

	<script type='text/javascript' src='http://xoxco.com/x/tagsinput/jquery-autocomplete/jquery.autocomplete.min.js'></script>
	<link rel="stylesheet" type="text/css" href="http://xoxco.com/x/tagsinput/jquery-autocomplete/jquery.autocomplete.css" />

  </head>
  <body class="home">	
	<div class="wrapper">
		<div class="container">
	    <%- body %>
		</div>
	</div>
  </body>
</html>