body {
	padding-top: 100px;
	font: 14px Helvetica, Arial, sans-serif;
	background-image: url(../images/bgnoise_lg.png);
	color: #223345 !important;
}

body.home{
	padding-top:110px;
}

a{
	font-family: 'Ubuntu Condensed', sans-serif;
}

p, ul, ol, li{
	color: #223345;
}

h1, h2, h3, h4, h5{
	font-family: 'Ubuntu', sans-serif;
	color: #223345;
}

.body h3{
	border-bottom: 1px dotted #28889F;
	margin-bottom: 10px !important;
	font-size: 1.5em !important;
	color: #C64633;
}

.wrapper{
	margin-top: 80px;
}

div.intro{
	margin-top:20px;
}

.filterBox {
	position: relative;
	padding: 12px 12px;
	margin-bottom: 18px;
	color: #404040;
	background-color: #EEDC94;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94));
	background-image: -moz-linear-gradient(top, #fceec1, #eedc94);
	background-image: -ms-linear-gradient(top, #fceec1, #eedc94);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eedc94));
	background-image: -webkit-linear-gradient(top, #fceec1, #eedc94);
	background-image: -o-linear-gradient(top, #fceec1, #eedc94);
	background-image: linear-gradient(top, #fceec1, #eedc94);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceec1', endColorstr='#eedc94', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #EEDC94 #EEDC94 #E4C652;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

.filterBox label{
	padding-top: 0px;
	font-size: 13px;
	line-height: 18px;
	float: none;
	width: none;
	text-align: right;
	color: #404040;
}

.filterBox .region_scope{
	margin-bottom:10px;
}

.filteritem {
	float:left;
	min-width:100px;
}

.filteritem span.name {
	font-size:12px;
	color:gray;
	padding-left:5px;
}

.filteritem span.value {
	display:block;
	margin: 2px 5px 20px 0px;
	background-color:#C64633;
	border-radius: 100px;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	border-radius: 100px;
	padding: 4px 8px;
	border: 1px solid #fff;
}

.filteritem:first-child  {
	min-width:150px;
	max-width:200px;
}
.filteritem:first-child span.value {
	background-color:#EEDC94;
	color:#000;	
}

.random_professionals img, img.logo{
	border: 5px solid #fff !important;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.home img.logo{
	margin-left:590px;
	-webkit-transform: rotate(4deg);	
	-moz-transform: rotate(4deg);
	-ms-transform: rotate(4deg);
	-o-transform: rotate(4deg);
	transform: rotate(4deg);
}

.wrapper img.logo{
	width:140px;
}
.random_professionals img{
	width: 85px;
	margin: 0 10px 10px 0;
	box-shadow: 0px 0px 5px #aaa;	
}
.random_professionals{
	float: left;
	margin-top: -120px;
	background-color: #fff;
	border: 1px dotted #C64633;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 40px;
}
.random_professionals p{
	font-size: 1.5em;
	line-height: 1.5em;
	color: #C64633;
	font-family: 'Ubuntu', sans-serif;
}
.random_professionals .btn{
	background-color: #C64633 !important;
	background-image:-webkit-linear-gradient(top, rgba(255, 200, 0, 0.3), #C64633) !important;
	margin-top: 10px;
}
.intro .btn{
	background-color: #28889F !important;
	background-image:-webkit-linear-gradient(top, rgba(205, 255, 255, 0.3), #08687F) !important;
	content: "hola";
}
.intro .btn:before, .random_professionals .btn:before{
	content: "» ";
}
.intro .btn, .random_professionals .btn{
	background-image: none;
	border-radius: 100px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-size: 22px;
	border-radius: 100px;
	padding: 10px 40px;
	border: 2px solid #fff;
	text-shadow: 0px 1px 0px #000;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.8) !important;
	box-shadow: 0px -2px 0px rgba(141, 196, 223, 0.8);
}

div.clearfix {clear:both;}
div.what{display:none;} 

div.wrapper {
	border-radius: 5px;
	padding:20px;
	background-color:white;
	width:980px;
	margin: 0 auto;
	display:block;
	box-shadow: 0px 0px 15px #aaa;
}

ul#categories li span, ul#tags li span{
	font-size:0.8em;
	padding:1px 3px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #aaa;
}

ul#categories li.selected , ul#tags li.selected{
	text-decoration:underline;
}

ul#categories li.selected a, ul#tags li.selected a{
	color:black !important;
}

div.tags div.tag_explanation{
	font-size:10px;
	color:gray;
}

div.professionals_list{
	margin-top:20px;
}

div.professionals_list .sortingOptions{
	text-align:right;
	clear:both;
}

ul#professionals {
	padding:10px 0px 0px 0px;
	margin:0px;
	list-style-type:none;
}

ul#professionals li div.short img{
	box-shadow: 0px 0px 10px #aaa;
	max-width:40px;
	max-height:40px;
	float:left;
	margin-right:10px;
}

ul#professionals > li{
	clear:both;
	min-height:40px;
	margin-bottom:15px;
}

ul#professionals li span.votes{
	color:gray;
}	

ul#professionals li span.votes span{
	background-color: #C64633 !important;
	background-image:-webkit-linear-gradient(top, rgba(255, 200, 0, 0.3), #C64633) !important;
	border-radius: 100px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-size: 11px;
	border-radius: 100px;
	padding: 0px 3px;
	border: 1px solid #fff;
	text-shadow: 0px 1px 0px #000;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.8) !important;
	box-shadow: 0px -2px 0px rgba(141, 196, 223, 0.8);
}	

input#searchBox{
	margin-top:5px;
}

img#loading{	display:none; /*initial state*/;}

a {
  color: #00B7FF;
}

div.profile {
	border:solid 1px #c2c2c2;
	padding:10px 25px 25px 25px;
	margin-bottom:10px;
	box-shadow: 0px 0px 10px #aaa;
}

div.profile h2 {
	font-size:1.3em;
}
div.profile h3 {
	font-size:16px !important;
	border-bottom:solid 1px #c2c2c2;
	padding:3px;
	line-height:18px;
	margin-top:15px;
}

div.profile .location{
	color:#c2c2c2;
	margin-top:5px;
	display:block;
}

div.profile .twitter ul li {
	color:#666666;
	font-size:90%;
	margin-bottom:3px;
}

div.profile .twitter ul li abbr{
	font-style:italic;
	color:#999999;
}

div.profile img{
	float:left;
	margin:0px 10px 5px 0px;
	max-width:80px;
}

div.portfolio label{
	width:30px; !important;
}

div.portfolio .input{
	margin-left:50px; !important;
}

div.portfolio .input textarea, div.portfolio .input input{
	width:310px !important;
}

div.portfolio textarea{
	height:50px !important;
	margin:5px 0px 5px 0px;	
}
div.portfolio .item {
	margin:5px 0px 15px 0px;
}

span.voteBox{
	text-align:right !important;
	width:180px;
	float:right;
}

span.voteBox img{
	width:30px;
}

span.voteBox span.beer{
	display:block;
	position:relative;
}
span.voteBox span.beer span{
	top: 11px;
	left: 18px;
	background-color:#C64633;
	position:absolute;
	border-radius: 100px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-size: 11px;
	border-radius: 100px;
	padding: 0px 6px;
	border: 1px solid #fff;
	text-shadow: 0px 1px 0px #000;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.8) !important;
	box-shadow: 0px -2px 0px rgba(141, 196, 223, 0.8);	
}
.beer_popup{
	float:left;
	margin:0px 10px 5px 0px;
}
	
form.editprofile textarea{
	min-height:80px;
}

form span.descr {
	font-size:0.9em;
	color:gray;
}
	
form div.input img {
	float:left;
	margin:0px 10px 5px 0px;
}

form span.error {
	color:red;
	font-size:0.9em;
	display:block;
	padding:3px;
}

.topbar h3 a{
	color: red !important;
	display: block;
	width: 283px;
	height: 61px;
	background: none !important;
	background: url("../images/logo-directorio.png") no-repeat top center !important;
	text-indent: -2000px;
	overflow: hidden;
	border-radius: 0px;
	margin: 0px 0px;
	opacity: 0.95;
	-moz-opacity: 0.95;
	filter:alpha(opacity=95);
	margin-top: -20px;
}
.topbar h3 a:hover{
	background: none !important;
	background: url("../images/logo-directorio.png") no-repeat top center !important;
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=1);
}

.topbar{
	height: 80px !important;
	background-image: url(../images/textil-bg.png);
}
.topbar-inner,.topbar .fill{
	height: 70px !important;
	line-height: 70px !important;
	padding-top: 20px !important;
	background: url(../images/textil-bg.png) repeat top left !important;
}

.topbar a.editprofile {
	color: #28889F !important;
	padding: 4px 10px !important;
	border-radius: 100px;
	background-color: #28889F !important;
	color: #F6F3ED !important;
	margin-left: 10px;
	text-shadow: 0px -1px 0px #000;
	font-size: 1.2em;
	text-transform: uppercase;
	box-shadow: 0px 2px 0px #000;
	box-shadow: 0px -1px 0px rgba(141, 196, 223, 0.8);
}
.topbar a:hover{
	/*background-color: #8DC4DF !important;*/
	color: #fff !important;
}

.topbar div > ul a, .nav a {
	display: block;
	float: none;
	padding: 0px;
	line-height: 19px;
	text-decoration: none;
}

.loginBox {
	padding:5px;
}

.loginBox a{
	padding: 5px 3px 3px 0px !important;
	display: inline !important;
}

.loginBox .salutation{
	display: block;	
	color:white;
	font-size:90%;
	text-align:right;
	padding:5px !important;
}

.salutation a{
	display: inline !important; 
}
.alert-message h3{
	text-decoration: none;
}
.alert-message.success h3{
	color:green !important;
}
.alert-message.error h3{
	color:error !important;
}
.iphone{
	margin-top:30px;
}
.iphone p{
	font-size:3em;
	font-family: 'Ubuntu', sans-serif;
	line-height:1em;
	color: #C64633 !important;	
}