<%if (categories) {%>
	<ul id="categories">
	<% for (var i=0; i < categories.length; i++) { %>
	<li><a href="#" idcat="<%=categories[i].id%>"><%=categories[i].name%></a> <span><%=categories[i].users_count%></span></li>
	<% } %>
	</ul>
<%}else {%>
	<p>No categories to display</p>	
<%}%>
