<div class="loginBox">
<% if (!user) { %>
	<a href="/login">
		Entrar
	</a>
	<a id="what" href="/about">¿Qué es esto?</a>
<% } else { %>
	<span class="salutation">
		Hola <%= user.name %>! ( <a href="/logout">salir</a> )
	</span>
<% } %>
</div>
